<div class="container-fluid regular-page  col-md-8 col-md-offset-2" ng-controller="myoffsets">
	<div class="col-md-2">
		<br>
		
		<div class="offsetboxes" ng-click="state.showAddOffset=!state.showAddOffset"><br><strong>Add An Offset</strong><br><br></div>
		
		<div ng-repeat="d in data.offsets" class="offsetboxes" ng-click="setcurrentlydisplayed(d)">
			<strong>{{d.name}}</strong>
			<p>{{d.npo}}</p>
		</div>
	</div>
	<div class="col-md-6">
		<div ng-if="state.showAddOffset">
			<h1>Add an Offset</h1>
			
		</div>
		
		<div ng-if="!state.showAddOffset">
			<h1>{{datacurrentlydisplayed.name}}</h1>
			<h3>{{datacurrentlydisplayed.description}}</h3>
			<p>Active:{{datacurrentlydisplayed.active}}</p>
			<p>designer:{{datacurrentlydisplayed.designer}}</p>
			<p>donation amount:${{datacurrentlydisplayed.donation_amount}}</p>
			<p>total donations:${{datacurrentlydisplayed.total_donations}}</p>
			<p>trigger:{{datacurrentlydisplayed.trigger}}</p>
			<p>type:{{datacurrentlydisplayed.type}}</p>
			<p>note:{{datacurrentlydisplayed.note}}</p>
		</div>
	</div>
</div>