<div class="container-fluid regular-page  col-md-8 col-md-offset-2" ng-controller="myoffsets">
	<div class="col-md-2">
		<br>
		
		<div class="offsetboxes" ng-click="state.showAddOffset=!state.showAddOffset"><br><strong>Claim An Offset</strong><br><br></div>
		
		<div ng-repeat="d in data.offsets" class="offsetboxes" ng-click="setcurrentlydisplayed(d)">
			<strong>{{d.name}}</strong>
			<p>{{d.npo}}</p>
		</div>
	</div>
	<div class="col-md-6">
		<div ng-if="state.showAddOffset">
			<h1>Claim an Offset</h1>
			<form class="form-horizontal">
				<div class="form-group">
						<label for="inputoffsetID" class="col-md-2 control-label">Offset ID</label>
						<div class="col-md-8">
							<input type="text" class="form-control" id="inputoffsetID" placeholder="Offset ID">
						</div>
						<div class="col-md-2">
							<button type="submit" class="btn btn-default">Add Offset</button>
						</div>
				</div>
			</form>
			
		</div>
		
		<div ng-if="!state.showAddOffset">
			<h1>{{datacurrentlydisplayed.name}}</h1>
			<h3>{{datacurrentlydisplayed.description}}</h3>
			<p>Offset ID:{{datacurrentlydisplayed.offset_id}}</p>
			<p>Active:{{datacurrentlydisplayed.active}}</p>
			<p>designer:{{datacurrentlydisplayed.designer}}</p>
			<p>donation amount:${{datacurrentlydisplayed.donation_amount}}</p>
			<p>total donations:${{datacurrentlydisplayed.total_donations}}</p>
			<p>trigger:{{datacurrentlydisplayed.trigger}}</p>
			<p>type:{{datacurrentlydisplayed.type}}</p>
			<p>note:{{datacurrentlydisplayed.note}}</p>
			<p ng-repeat="item in datacurrentlydisplayed.offset_events">Data:{{item}}</p>
		</div>
	</div>
</div>